<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hpe.mapper.AdminsMapper">
	<select id="login" parameterType="com.hpe.pojo.Admins" resultType="com.hpe.pojo.Admins">
		select * from admins where acount=#{acount} and apwd=#{apwd}
	</select>
</mapper>